* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

#home {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    center/cover;

    color: white;
}

#home h2 {
    font-size: 50px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    padding: 60px 10%;
    text-align: center;
}

#destinations {
    background: #f4f4f4;
}

#destinations div {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 30px;
    background: white;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
